In [1]:
import sqlite3

#### Steps when starting to use databases with python
1. Establish a connection 
2. Create a cursor - for running sql queries on said connection 
3. Don't forget to close the connection when your code is done using the database

In [2]:
conn = sqlite3.connect("test.db")
cursor = conn.cursor()

### Structure
1. Server
2. Database(s)
3. Table(s)

<hr>
<br>
to create a field follow --> **field_name type,...**

<br>
Any changes you make to your database table (updating, inserting, deleting and creating tables) you need to commit to the connection the changes

In [3]:
cursor.execute("CREATE TABLE IF NOT EXISTS employees(id integer PRIMARY KEY, name text, age int, job text)")
conn.commit()

### Insert data

In [9]:
cursor.execute("INSERT INTO employees(name, age, job) VALUES (?, ?, ?)", ("tom", 21, "engineer"))
conn.commit()

### Select / read data

In [7]:
cursor.execute("SELECT * FROM employees")

for row in cursor.fetchall():
    print(f"My name is {row[1]} and my age is {row[2]}, basically I work as a {row[3]}")

My name is bob and my age is 45, basically I work as a builder
My name is alice and my age is 25, basically I work as a engineer

In [8]:
cursor.execute("SELECT name, job FROM employees")
cursor.fetchall()

[('bob', 'builder'), ('alice', 'engineer')]

In [10]:
cursor.execute("SELECT name, job FROM employees WHERE job = 'engineer'")
cursor.fetchall()

[('alice', 'engineer'), ('tom', 'engineer')]

### update an employee

In [11]:
cursor.execute("UPDATE employees SET job = ? WHERE id = ?", ("Manager", 1, ))
conn.commit()

### Delete data

In [12]:
cursor.execute("DELETE FROM employees WHERE id = 1")
conn.commit()

### Challenge 
1. edit the space station program so it also saves each tracked location to the database along with a timestamp (use datetime)

In [13]:
from datetime import datetime

In [14]:
str(datetime.now())

'2022-12-24 23:54:16.747983'